body, html{
    min-height: 100%;
    background-image: url(../images/signup.jpg);
   
}

body{
    font-family: 'Cinzel', serif;

}
.wrapper{
    display:block;
    width:100%;
}
.hero-section {
    background-image: url(../images/displayImage.jpg);
    height: 100vh;
    width: 100%;
    margin-bottom: 50px;
     background-repeat: no-repeat; 
     margin: 0;
    padding: 0; 
     background-size:100% 100%;
  }
  .info-container{
      text-align: center;
  }
  .info-section {
    background-image: url(../images/gradient.jpg);
    height: 50vh;
    width: 100%; 
    margin-bottom: 50px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size:100% 100%;
  }

.navbar{
    margin-bottom: 0px;
    background-image: url(../images/darkgradient.jpg);
    background-image: cover;
   
}
.navbar-brand{
    color:goldenrod;
    font-size: 28px;
}


.jumbotron{
    background-image: url(../images/gradient.jpg);
    background-size:cover;
    border: 3px solid rgb(245, 193, 63);
    /* margin-bottom: 10px; */
}
.display-4{
    font-size: 84px;
    font-weight: bolder;
    color: goldenrod;
}
.lead, .header{
    font-size: 24px !important;
    font-weight: bolder !important;
    color: goldenrod !important;
    
}

.container{
    text-align: center;
}

.my-4{

    color: goldenrod;
}