body, html{
    min-height: 100%;
    background-image: url(../images/signup.jpg);
    background-size: cover;
}

body{
    font-family: 'Cinzel', serif;
}
.goHome{
    margin-top: 10px;
}
.jumbotron{
    background-image: url(../images/gradient.jpg);
    background-size:cover;
    border: 3px solid rgb(245, 193, 63);
    /* margin-bottom: 10px; */
}
.classCard{
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 20px;
    font-size: 20px;
    background-color:black;
    float: left;
    border: 3px solid rgb(245, 193, 63);
    padding:5px;
}   
.card-title{
    font-size: 24px;
    font-weight: bolder;
    color: goldenrod;
}
.card-body, #formChar{
    font-weight: bolder;
    color: goldenrod;
}
.display-4{
    font-size: 84px;
    font-weight: bolder;
    color: goldenrod;
}

.lead{
    font-size: 24px;
    font-weight: bolder;
    color: goldenrod;
}
button{
    border-radius: 20%;
    color:goldenrod;

}
#showClasses{
    border-radius: 20%;
    background-color:goldenrod;
    /* background-color:whitesmoke; */
    margin-top: 30px;
    border-color: goldenrod;
    color:white;
}
.chosen{
    display: inline-block;
    float:left;
    /* background-image: url(../images/knight.jpg) */
}
.classSection{
    display: inline-block;
    clear: both;
    width:100%;
}
.chosenKnight{
    width: 600px;
    height:480px;
    background-image: url(../images/knight.jpg);
    display: inline-block;  
    float: left;
    color: goldenrod;
    font-size: 46px;
    font-weight: bolder;
}
.username{
    font-size: 46px;
    font-weight: bolder;
}
.navbar{
    margin-bottom: 40px;
    background-image: url(../images/darkgradient.jpg);
    background-image: cover;
    
}
.navbar-brand{
    color:goldenrod;
    font-size: 28px;
}
#charName{
    border-radius: 10%;
    border: goldenrod;
}